@model IEnumerable<ViajesColaboradores.Models.ViajeModel>

<p>
    <a asp-action="Index">Create New</a>
</p>
<table class="Lista Viajes">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Creado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transportista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administrador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distancia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViajePosible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Creado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colaborador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sucursal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transportista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distancia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViajePosible)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
